version: '3'

services:
  app-server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "10010:10010"
    networks:
      - default-network

  app-client1:
    build:
      context: ./client
      dockerfile: Dockerfile
    depends_on:
      - app-server
    networks:
      - default-network
    links:
      - app-server


networks:
  default-network:
    driver: bridge
